.note{
    background-color: #274F73;
    width: 456px;
    height: 250px;
    border: white 1px solid;
    border-radius: 16px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}
.desc{
    font-size: 1.4rem;
}

.note h1{
    text-align: center;
}
.notes{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center;
}

.svgs{
    height: 25px;
}